<header>
    <nav>
        <ul>
            <li><a routerLink="/about" routerLinkActive="active"><span class="sp-about">about me</span></a></li>
            <li><a routerLink="/education" routerLinkActive="active"><span class="sp-educ">education</span></a></li>
            <li><a routerLink="/experience" routerLinkActive="active"><span class="sp-exp">experience</span></a></li>
            <li><a routerLink="/contact" routerLinkActive="active"><span class="sp-cont">contact</span></a></li>
        </ul>
    </nav>
  </header>

